
@font-face{
    font-family: "Shrikhand";
    src: url("../polices/Shrikhand-Regular.otf");
  }
 @font-face{
    font-family: "Roboto";
    src: url("../polices/Roboto-regular.ttf");
}


* {
    font-family:"Roboto", sans-serif;
  }


    .header_pages{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fa-arrow-left{
        position: absolute;
        top: 1.25rem;
        left: 2rem;
        font-size: 2rem;
        color: #000;
    }
    header i:hover{
        color: #5d5555;
    }
    .img{
        max-width: 100%;
        max-height: 32rem;
        width: 100%;
        object-fit: cover;
    }

    .container_menus{
        margin-top: -4rem;
        border-radius: 2rem 2rem 0 0;
        background-color: #eeeeee;
        z-index: 1;
        position: relative;
        max-width: 100%;
        
    }


/********** Menus **********/
    .menu{
       display: flex;
       flex-direction: column;
    }
    .menu_header{
        padding: 1rem 2rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu_titre{
        font-family: Shrikhand,"cursive";
        font-size: 2em;
        margin-right: 2em;
    }
    .coeur_vide, .coeur_plein{
        font-size: 2.2em;
        position: absolute;
        right: 3%;
        top: 2.5%; 
    }
    .sous_menu{ 
        overflow: hidden;
        padding: 0 1rem;
    }
    .sous_menu_titre{
        text-transform: uppercase;
        position: relative;
        padding-bottom: .5rem;
        font-weight: 400;
    }
    .sous_menu_titre:after {
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .sous_menu_item{
        background-color: #fff;
        padding: 1rem;
        display: flex;
        border-radius: 1rem;
        margin: 1rem 0;
        box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
        overflow: hidden;
        cursor: pointer;
        animation: itemAppear .6s;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: both;
        transform: scale(0); 
        max-width: 100%;
    }
    
    
    .sous_menu_item_text{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        margin-right: 3.5em;
    }
    .sous_menu_item_text_titre{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 0 .25rem;
    }
    .sous_menu_item_text_description{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .sous_menu_item_prix{
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: .5rem;
    }
    .sous_menu_item_choix{
        background-color: #99e2d0;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
    }
    .wrap_icon{
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: .5s;
    }
    .wrap_item_icon{
        color: #99e2d0;
    }
    .anim { animation-delay: 0s; }
    .sous_menu_item:hover .sous_menu_item_choix { transform: translateX(-60px); transition-duration: 0.5s; }
    .sous_menu_item:hover .wrap_item_icon       { transform: rotate(180deg);    transition-duration: 0.5s; }
    .sous_menu_item:hover .sous_menu_item_prix  { transform: translateX(-60px); transition-duration: 0.5s; }

    @keyframes itemAppear{
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }


    .container_bouton_commander{
        display: flex;
        text-decoration: none;
        justify-content: center;
        padding: 3rem 0;
    }
    .bouton_commander{
        border: 0;
        padding: 1.25rem 3rem;
        font-weight: 500;
        font-size: 1.25rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        transition-duration: .25s;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        cursor: pointer; 
    }
    .bouton_commander:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    }
    



@media (min-width : 1000px){

    .menu_header{
        max-width: 100%;
    }
    .menu{
        flex-direction: row;
        justify-content: center;
    }

    .coeur_vide, .coeur_plein{
        right: 2%;
        top: 5.5%; 
    }







}